
$main-color: #1D1E22;
$second-color: #29292D;
$white: #fff;
$gray: #666B7A;
$maintext: Roboto;



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $main-color;
    font-family: $maintext, sans-serif;
}

h1 {
    color: $white;
    font: {
        family: $maintext;
        size: 30px;
        weight: bold;
    }
    text: {
         transform: uppercase;
    }
}

.container {width: 1152px; margin: 0 auto;}

.page {
  width:100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;

    &__text {
        display: grid;
        text-align: center;
        color: #ddd;
        font-size: 14px;
        background: $second-color;
        box-shadow: 0 3px 5px #000;
        transition: all .2s linear;
        height: auto;
        align-content: start;
        padding: 10px;

    &:hover {transform: scale(1.1);}
    &-top {color: $white; font-size: 22px;}
    &-red {color: $gray;}
    }
}

p.white-c{color: $gray}

.main{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}
.main__block {
    background: $gray;

}
